.catalog {
  display: grid;
  justify-content: center;
  justify-items: center;

  gap: 48px;
  padding: 30px;
  margin: 0 auto;

  max-width: 1024px;

  @media (min-width: 488px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1024px) {
    & {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    text-align: center;
    line-height: $card-heigh;
    width: $card-width;
    height: $card-heigh;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
